BasedOnStyle: Microsoft
IndentWidth: 2
ColumnLimit: 256
SortIncludes: false

# BraceWrapping
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
  BeforeLambdaBody: true
AlignAfterOpenBracket: AlwaysBreak
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never
AllowShortCaseLabelsOnASingleLine: true
AllowShortEnumsOnASingleLine: true

# Pointer
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Attributes
BreakAfterAttributes: Never

# CXX
Language: Cpp
Cpp11BracedListStyle: false
# ConstructorInitializers
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLineOnly
# Namespace
NamespaceIndentation: All
FixNamespaceComments: true
# Template
BreakTemplateDeclarations: Leave
