BasedOnStyle: Microsoft
IndentWidth: 2
ColumnLimit: 1024
SortIncludes: false

# BraceWrapping
BraceWrapping:
  AfterEnum: true
  AfterStruct: true
  AfterClass: true
  AfterFunction: true
  AfterNamespace: true
AlignAfterOpenBracket: AlwaysBreak
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: Inline
AllowShortIfStatementsOnASingleLine: Never

# Pointer
DerivePointerAlignment: false
PointerAlignment: Left
ReferenceAlignment: Left

# Attributes
BreakAfterAttributes: Never

# CXX
Language: Cpp
Cpp11BracedListStyle: false
# ConstructorInitializers
BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: NextLineOnly
# namespace
NamespaceIndentation: All
FixNamespaceComments: true
